@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.exploreSection {
  background-color: var(--background-color-3);
  transform: skewY(-3deg);
  padding: 4rem 0 8rem;
  display: flex;

  > div {
    transform: skewY(3deg);
    width: 100%;
    text-align: center;
    padding: 0 5rem;

    > h2 {
      font-size: 3.3vw;
      font-weight: 100;
      margin: 4rem auto 7rem;
      font-family: "Sacramento";
      font-weight: 600;
      max-width: 80%;
    }

    > .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      text-align: left;
      gap: 20px;

      > .serviceStatsCont {
        > h4 {
          font-size: 1.5vw;
          margin-bottom: 2rem;
          color: var(--text-color-2);
          max-width: 80%;
        }

        div {
          display: flex;

          > div {
            display: flex;
            flex-direction: column;
            margin-right: 2rem;
            gap: 10px;

          }
          > p {
            display: flex;
            img {
              padding-right: 7px;
              height: 1.3rem;
              width: 1.3rem;
            }
        }
        }
      }

      > .serviceStack {
        padding: 1em 1.5em;
        background-color: var(--background-color-light);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;

          .icon {
            display: flex;
            text-align: center;
            flex-direction: column;
            gap: 0.5vw;
            align-items: center;
            
            & .rect {
                border-radius: 1rem;
            }
            
            img {
              width: 2.5vw;
              height: 2.5vw;
              padding: 2.5vw;
              border-radius: 50%;
              background-color: var(--background-color-light-2);
            }
          }
        }
        }
    }

    .bottomControl {
      display: flex;

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .icon {
          display: flex;
          align-items: center;

          img {
            background-color: var(--background-color-dark);
            padding: 2.3rem 2rem;
            width: 1rem;
            border-radius: 1.4rem;
          }

          span {
            font-size: 20px;
            margin-left: 10px;
            font-weight: 600;
          }
        }

        .count {
          flex: 1;
          font-size: 20px;

          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .exploreSection {
    padding: 4rem 0 4rem;

    > div {
      padding: 0 5rem;

      > h2 {
        font-size: 2rem;
        margin: 2rem auto 4rem;
      }

      > .wrapper {
        flex-direction: column;
        margin-bottom: 5rem;
        margin-top: 2rem;
        align-items: initial;

        &.wrap2{
            align-items: flex-end;

            > .serviceStatsCont {
                > h4 {
                    width: 100%;
                }
            }
        }

        > .serviceStatsCont {
          > h4 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 50%;
          }

          div {
            > div {
              margin-right: 0;
            }

            p {
                font-size: .8em;
            }
          }
        }

        .serviceStack {
          padding: 0.6em 0.5em;
          max-width: max-content;

          p {
            font-size: .9em;
          }

          ul {
            .icon {
              margin: 0 0.5em;
              font-size: 10px;

              img {
                padding: 1rem;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      }

      .bottomControl {
        ul {
          .icon {
            img {
              padding: 1.4rem 1.4rem;
              border-radius: 1.2rem;
            }

            span {
              font-size: .9em;
            }
          }

          .count {
            font-size: .9em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .exploreSection {
    > div {
      padding: 0 2rem;

      > h2 {
        font-size: 2rem;
        max-width: 100%;
    }

      > .wrapper {
        &.wrap2{
            align-items: flex-start;
        }

        > .serviceStatsCont {
          > h4 {
            font-size: 1.2rem;
            width: 100%;
          }

          div {
            > div {
              margin-right: 0;
            }

            p {
                font-size: .8em;
            }
            margin-bottom: 1rem;
          }
        }

        .serviceStack {
          p {
            font-size: .9em;
          }

          ul {
            flex-wrap: wrap;
            .icon {
              margin: 0 0.5em;
              font-size: 10px;
              flex-basis: calc(33% - 2em);
              img {
                padding: 1rem;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      }

      .bottomControl {
        ul {
          .icon {
            img {
              padding: .8rem .8rem;
              border-radius: .8rem;
            }

            span {
              font-size: .8em;
            }
          }

          .count {
            font-size: .8em;
          }
        }
      }
    }
  }
}